<!DOCTYPE html>
<html>
    <head>
        <title>todolist</title>
    </head>
    <body>
        <form action = "/auth/signUp" method="POST">
            Username: <input type = "text" name = "username">
            Email: <input type = "text" name = "email">
            Password: <input type = "password" name="password">
            <input type="submit" value = "Sign up"></form>
        </form>
    </body>
</html>